---
import { Icon } from 'astro-icon/components';
import { LINKS } from "../consts";

const today = new Date();
---

<style>
	[data-icon] {
		width: 48px;
		height: 48px;
	}
	footer {
		padding: 2em 1em 6em 1em;
		background: var(--bg);
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--hover));
	}
</style>

<footer>
	&copy; {today.getFullYear()} Grayvox. All rights reserved.
	<div class="social-links">
		<a href={LINKS.youtube} target="_blank" rel="noopener noreferrer">
			<Icon name="mdi:youtube" />
		</a>
		<a href={LINKS.twitch} target="_blank" rel="noopener noreferrer">
			<Icon name="mdi:twitch" />
		<a href={LINKS.github} target="_blank" rel="noopener noreferrer">
			<Icon name="mdi:github" />
		</a>
		<a href={LINKS.discord} target="_blank" rel="noopener noreferrer">
			<Icon name="ic:baseline-discord" />
		</a>
		<a href={LINKS.links} target="_blank" rel="noopener noreferrer">
			<Icon name="mdi:link" />
		</a>
	</div>
	<img src="/scribbles/FindMe.png" alt="Find me elsewhere" style="margin-left: 2rem;">
</footer>
