---
import { LINKS } from "../consts";

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Grayvox. All rights reserved.
	<div class="social-links">
		<a href={LINKS.youtube} target="_blank" rel="noopener noreferrer">
			<!-- <img src="https://img.icons8.com/?size=100&id=37326&format=png&color=CBD2E1" alt="YouTube" width="48" height="48"> -->
			 <img src="/svg/youtube-svgrepo-com.svg" alt="YouTube" width="48" height="48">
		</a>
		<a href={LINKS.twitch} target="_blank" rel="noopener noreferrer">
			<img src="/svg/twitch-svgrepo-com.svg" alt="Twitch" width="48" height="48">
		</a>
		<a href={LINKS.github} target="_blank" rel="noopener noreferrer">
			<img src="/svg/github-svgrepo-com.svg" alt="GitHub" width="48" height="48">
		</a>
		<a href={LINKS.kofi} target="_blank" rel="noopener noreferrer">
			<img src="/svg/ko-fi-svgrepo-com.svg" alt="Ko-fi" width="48" height="48">
		</a>
		<a href={LINKS.linktree} target="_blank" rel="noopener noreferrer">
			<img src="/svg/link-svgrepo-com.svg" alt="Twitch" width="48" height="48">
		</a>
	</div>
	<img src="/scribbles/FindMe.png" alt="Find me elsewhere" style="margin-left: 2rem;">
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: var(--bg);
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--hover));
	}
</style>
